body {
  background-color: #a5d8ff;
  font-size: 16px;
  word-spacing: 2px;
}

p {
  display: flex;
  justify-content: left;
  width: 600px;
  word-spacing: 2px;
  background-color: #f6f0ed;
  padding: 5px;
  margin: auto;
}

h1 {
  display: flex;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
}

img {
  display: flex;
  justify-content: center;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  line-height: normal;
  font-size: 22px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: 1px;
  margin: 10px;
  background-color: #f6f0ed;
}

a {
  text-decoration: none;
  color: #a159ff;
}

a:hover {
  color: #4753ff;
}

.apple {
  display: flex;
  justify-content: center;
}